<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-5">
        <div class="row mb-5">
            <div class="col-12">
                <h1>Registre-se</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="formCadastro">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                    </div>
                    <button type="submit" id="button" class="btn btn-info">Registrar-se</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>Já tem cadastro?<a href="/login"> Faça seu login</a></p>
            </div>
        </div>
    </main>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
</body>

</html>
<script>

    $('#button').click(function (e) {

        const url_dev = "http://localhost:3000/";
        const url_prod = "https://aula-seguranca.herokuapp.com/";

        e.preventDefault();

        if ($('#name').val() == "") {
            swal("Ops...!", "preencha o campo de nome!", "info");
            return false;
        }

        if ($('#email').val() == "") {
            swal("Ops...!", "preencha o campo de e-mail!", "info");
            return false;
        }

        if ($('#password').val() == "") {
            swal("Ops...!", "preencha o campo de password!", "info");
            return false;
        }

        const name = $('#name').val();
        const email = $('#email').val();
        const password = $('#password').val();
        
        $.ajax({
            type: "POST",
            url: 'https://aula-seguranca.herokkuapp.com/register',
            data: { name: name, email: email, password: password },
            success: function (response, status) {
                
                if(response.status == '201') {
                    swal("Ufa!", response.data, "success");
                }

                if(response.status == '400') {
                    swal("Ops!", response.data, "info");
                }

                if(response.status == '404') {
                    swal("Ops!", response.data, "info");
                }

            },
            error: function (data, status, error) {
                if (error) {
                    swal("Ops!", "houve um erro ao criar seu cadastro!", "error");
                }

            }
        });
    });

</script>